---
import styles from "./Marqee.module.css"
---
<div class={styles.marquee}>
    <ul class={styles.marqueeContent}>
      <li class={styles.marqueeItem}><i class:list={["devicon-amazonwebservices-plain-wordmark", styles.marqueeIcon]}></i></li>
      <li class={styles.marqueeItem}><i class:list={["devicon-blazor-original", styles.marqueeIcon]}></i></li>
      <li class={styles.marqueeItem}><i class:list={["devicon-hadoop-plain", styles.marqueeIcon]}></i></li>
      <li class={styles.marqueeItem}><i class:list={["devicon-docker-plain", styles.marqueeIcon]}></i></li>
      <li class={styles.marqueeItem}><i class:list={["devicon-denojs-original", styles.marqueeIcon]}></i></li>
    </ul>

    <ul class={styles.marqueeContent} aria-hidden="true">
      <li class={styles.marqueeItem}><i class:list={["devicon-amazonwebservices-plain-wordmark", styles.marqueeIcon]}></i></li>
      <li class={styles.marqueeItem}><i class:list={["devicon-blazor-original", styles.marqueeIcon]}></i></li>
      <li class={styles.marqueeItem}><i class:list={["devicon-hadoop-plain", styles.marqueeIcon]}></i></li>
      <li class={styles.marqueeItem}><i class:list={["devicon-docker-plain", styles.marqueeIcon]}></i></li>
      <li class={styles.marqueeItem}><i class:list={["devicon-denojs-original", styles.marqueeIcon]}></i></li>
    </ul>
</div>
