---
import styles from "./Hamburger.module.css";
---

<button
  id="hamburger"
  class={styles.hamburger}
  aria-expanded="false"
  aria-controls="menu"
>
  <span class={`${styles.line} ${styles.line1}`} id="lineA"></span>
  <span class={`${styles.line} ${styles.line2}`} id="lineB"></span>
  <span class={`${styles.line} ${styles.line3}`} id="lineC"></span>
  <span class={styles.clear}></span>
</button>
