---
import Text from "@components/Text/Text.astro";
import Picture from "astro/components/ResponsivePicture.astro";
import Image from "astro/components/Image.astro";
import ChipSet from "@components/ChipSet/ChipSet.astro";

import type { HTMLAttributes } from "astro/types";

import styles from "./BlogCard.module.css";

export interface BlogCardProps extends HTMLAttributes<"article"> {
  author: {
    name: string;
    avatar: string;
  };
  date: string;
  tags: string[];
  heading: string;
  summary: string;
  image: string;
  imageAlt: string;
  wide?: boolean;
}

const props = Astro.props;
---

<article class:list={[styles.outerCard, props.wide && styles.wide]}>
  <div class={styles.imageContainer}>
    <Picture src={props.image} alt={props.imageAlt} class={styles.image} />
  </div>
  <div class:list={["flex-col", styles.detailsContainer]}>
    <ChipSet chips={props.tags} />
    <div class:list={["flex-col", styles.detailsText]}>
      <Text as="h3" variant="heading-md">{props.heading}</Text>
      <Text>{props.summary}</Text>
    </div>
    <div class:list={["flex", styles.authorDetailsContainer]}>
      <Image
        src={props.author.avatar}
        alt={`Avatar for ${props.author}`}
        height={48}
        width={48}
        class={styles.avatar}
      />
      <div class:list={["flex-col"]}>
        <Text class="body-xs">{props.author.name}</Text>
        <Text class="body-xs">{props.date}</Text>
      </div>
    </div>
  </div>
</article>
